@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

:root {
  --primarifont:"Poppins", sans-serif;
  --secondaryfont:"PT Sans", sans-serif;
  --primary-text: #353535;
  --primary-button: #04FE98;
  --glow-color: hsl(186 100% 69%);
  --primarygradient: linear-gradient(95.13deg, #FFCC00 -21.46%, #FFF5CB 112.13%);
}

#buttons::after, #buttons::before {
  box-sizing: border-box;
}
#buttons .glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1em;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}
#buttons .glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}
#buttons .faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}
#buttons .glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}
#buttons .glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}
#buttons .glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}
#buttons .glowing-btn:hover .glowing-txt {
  animation: none;
}
#buttons .glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}
#buttons .glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}
#buttons .glowing-btn:hover:after {
  opacity: 1;
}
@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }
  87% {
    opacity: 1;
  }
}
@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }
  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

nav .nBrand {
  font-family: var(--primarifont);
  font-size: 24px;
  font-weight: 600;
  color: black;
}
nav .nBrand span {
  color: #04FE98;
}
nav .navbarc {
  display: inline-block;
  margin-left: 45% !important;
}

.navbar-nav {
  text-align: end;
}
.navbar-nav .nav-item {
  margin-right: 20px;
}
.navbar-nav .nav-item a {
  border: 1px solid rgb(85, 183, 85);
  color: rgb(85, 183, 85);
  border-radius: 5px;
}
.navbar-nav .nav-item:hover {
  background-color: rgb(85, 183, 85);
  color: #ffffff;
  border-radius: 5px;
}

#homeBanner {
  margin-top: 40px;
}
#homeBanner .homeInfo h4 {
  margin-top: 30px;
  font-family: var(--primarifont);
  font-size: 20px;
  color: hsl(186, 100%, 69%);
}
#homeBanner .homeInfo h1 {
  margin-top: 20px;
  font-family: var(--primarifont);
  font-size: 48px;
  font-weight: 700;
  color: white;
}
#homeBanner .homeInfo h1 span {
  color: var(--glow-color);
}
#homeBanner .homeInfo p {
  font-family: var(--secondaryfont);
  color: rgb(167, 169, 167);
  margin-top: 20px;
}
#homeBanner .homeInfo .homeButton {
  margin-top: 40px;
}
#homeBanner .homeInfo .homeButton .follow {
  margin-top: 50px;
}
#homeBanner .homeInfo .homeButton .follow a {
  margin: 0px 6px;
}
#homeBanner .homeInfo .homeButton .follow a i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 9px;
  text-align: center;
  color: hsl(186, 100%, 69%);
  background-color: rgb(10, 10, 10);
  font-size: 20px;
  border: 2px solid hsl(186, 100%, 69%);
}
#homeBanner .homeInfo .homeButton .follow a i:hover {
  background-color: hsl(186, 100%, 69%);
  color: black;
}

#miniHomeBanner .homeInfo {
  text-align: center;
}
#miniHomeBanner .homeInfo h4 {
  margin-top: 10px;
  font-family: var(--primarifont);
  font-size: 12px;
  color: hsl(186, 100%, 69%);
}
#miniHomeBanner .homeInfo h1 {
  margin-top: 20px;
  font-family: var(--primarifont);
  font-size: 38px;
  font-weight: 500;
  color: white;
}
#miniHomeBanner .homeInfo h1 span {
  color: var(--glow-color);
}
#miniHomeBanner .homeInfo p {
  font-family: var(--secondaryfont);
  color: rgb(167, 169, 167);
  margin-top: 20px;
}
#miniHomeBanner .homeInfo .homeButton {
  margin-top: 40px;
}
#miniHomeBanner .homeInfo .homeButton .follow {
  margin-top: 50px;
}
#miniHomeBanner .homeInfo .homeButton .follow a {
  margin: 0px 6px;
}
#miniHomeBanner .homeInfo .homeButton .follow a i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 9px;
  text-align: center;
  color: hsl(186, 100%, 69%);
  background-color: rgb(10, 10, 10);
  font-size: 20px;
  border: 2px solid hsl(186, 100%, 69%);
}
#miniHomeBanner .homeInfo .homeButton .follow a i:hover {
  background-color: hsl(186, 100%, 69%);
  color: black;
}

#aboutBanner {
  margin-top: 80px;
}
#aboutBanner .line1 {
  margin-top: -15px;
  width: 200px;
  height: 4px;
  border-radius: 30px;
  background-color: #04FE98;
  display: inline-block;
}
#aboutBanner .line2 {
  margin-top: 5px;
  width: 160px;
  height: 4px;
  border-radius: 30px;
  background-color: #04FE98;
  display: block;
}
#aboutBanner h2 {
  font-family: var(--primarifont);
  color: #04FE98;
  font-size: 48px;
  font-weight: 600;
}

/*  information starts here */
#information-cnt {
  width: 100%;
  margin-top: 40px;
}
#information-cnt p {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 200%;
  padding-left: 15px;
  text-align: justify;
  color: #ffffff;
}
#information-cnt .text .contect .phone {
  margin-bottom: 50px;
  margin-top: 60px;
  display: flex;
}
#information-cnt .text .contect .phone span a {
  text-decoration-line: underline;
  color: #3479FF;
}
#information-cnt .text .contect .phone p {
  display: inline-block;
}
#information-cnt .text .contect .phone a {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 190%;
  color: #04FE98;
  margin-left: 10px;
}
#information-cnt .text .contect .phone .phone-p {
  width: 55%;
}
#information-cnt .text .contect .phone .phone-n {
  width: 45%;
}
#information-cnt .Expert-bar h2 {
  font-size: 24px;
  font-weight: 700;
  color: #00ff99;
  text-align: center;
}
#information-cnt .Expert-bar .content {
  display: none; /* hidden by default */
  margin-top: 20px;
}
#information-cnt .Expert-bar .content h2 {
  color: #00ff99;
}
#information-cnt .Expert-bar .content img {
  width: 80px;
  margin: 10px;
}
#information-cnt .Expert-bar .active {
  display: block;
}
#information-cnt .Expert-bar button {
  margin: 5px;
  margin-top: 20px;
  margin-left: 5%;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 30px;
  border: 2px solid var(--primary-text);
  border-radius: 10px;
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 180%;
  padding-top: 8px;
  display: inline-block;
  text-align: center;
  color: #04FE98;
  border-color: #04FE98;
  background-color: black;
}
#information-cnt .Expert-bar button:hover {
  color: black;
  background-color: #04FE98;
}

/*  information ends here */
/* A-Experience starts here */
#A-Experience {
  width: 100%;
  margin-top: 120px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
#A-Experience .A-Experience {
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 30px;
}
#A-Experience .A-Experience hr {
  color: #fff;
  width: 70%;
  margin-left: 15%;
}
#A-Experience .A-Experience h2 {
  font-family: var(--secondaryfont);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--glow-color);
  margin-bottom: 30px;
}
#A-Experience .A-Experience h4 {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 180%;
  color: var(--glow-color);
  margin-left: 45px;
  padding: 0px 0;
}
#A-Experience .A-Experience h4 img {
  width: 30px;
  height: 30px;
  background-color: #FBFBFB;
  border-radius: 50%;
}
#A-Experience .A-Experience h4 span {
  margin-left: 15px;
}
#A-Experience .A-Experience p {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #eae8e8;
  margin-left: 45px;
}
#A-Experience .A-Experience p span {
  font-size: 16px;
  font-weight: 600;
}

/* A-Experience ends here */
#services {
  margin-top: 60px;
}
#services .serviceCont .row {
  display: flex;
  justify-content: space-between;
}
#services .serviceCont .row .serviceText {
  width: 49%;
  height: 550px;
  background-color: #2e6340;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 0px 40px;
}
#services .serviceCont .row .serviceText #buttons::after, #services .serviceCont .row .serviceText #buttons::before {
  box-sizing: border-box;
}
#services .serviceCont .row .serviceText #buttons .glowing-btn {
  position: relative;
  color: #00ff99;
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid #00ff99;
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1em;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px #00ff99, 0px 0px 0.5em 0px #00ff99;
  -moz-box-shadow: inset 0px 0px 0.5em 0px #00ff99, 0px 0px 0.5em 0px #00ff99;
  box-shadow: inset 0px 0px 0.5em 0px #00ff99, 0px 0px 0.5em 0px #00ff99;
  animation: border-flicker 2s linear infinite;
}
#services .serviceCont .row .serviceText #buttons .glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em #00ff99;
  -moz-text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em #00ff99;
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em #00ff99;
  animation: text-flicker 3s linear infinite;
}
#services .serviceCont .row .serviceText #buttons .faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}
#services .serviceCont .row .serviceText #buttons .glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: #00ff99;
  pointer-events: none;
}
#services .serviceCont .row .serviceText #buttons .glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: #00ff99;
  box-shadow: 0 0 2em 0.2em #00ff99;
  transition: opacity 100ms linear;
}
#services .serviceCont .row .serviceText #buttons .glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}
#services .serviceCont .row .serviceText #buttons .glowing-btn:hover .glowing-txt {
  animation: none;
}
#services .serviceCont .row .serviceText #buttons .glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}
#services .serviceCont .row .serviceText #buttons .glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}
#services .serviceCont .row .serviceText #buttons .glowing-btn:hover:after {
  opacity: 1;
}
@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }
  87% {
    opacity: 1;
  }
}
@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }
  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
#services .serviceCont .row .serviceText .icons {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: 40px;
}
#services .serviceCont .row .serviceText .icons a {
  margin: 0px 4px;
}
#services .serviceCont .row .serviceText .icons a i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 9px;
  text-align: center;
  color: hsl(186, 100%, 69%);
  background-color: rgb(10, 10, 10);
  font-size: 20px;
  border: 2px solid hsl(186, 100%, 69%);
}
#services .serviceCont .row .serviceText .icons a i:hover {
  background-color: hsl(186, 100%, 69%);
  color: black;
}
#services .serviceCont .row .serviceText h2 {
  font-family: var(--primarifont);
  font-size: 60px;
  color: #00ff99;
  font-weight: 800;
  margin-bottom: 30px;
}
#services .serviceCont .row .serviceText h4 {
  font-family: var(--secondaryfont);
  font-size: 40px;
  color: var(--glow-color);
  font-weight: 800;
  margin-bottom: 30px;
}
#services .serviceCont .row .serviceText p {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  text-align: justify;
  color: #ffffff;
}
#services .serviceCont .row .serviceText h5 {
  font-family: var(--secondaryfont);
  font-size: 20px;
  color: var(--glow-color);
  font-weight: 600;
  margin-top: 30px;
  line-height: 30px;
}
#services .serviceCont .row .serviceText .line3 {
  width: 80%;
  height: 3px;
  background-color: #BBB9B9;
  margin: 20px 0px;
  border-radius: 10px;
}

#minServices {
  margin-top: 60px;
}
#minServices .serviceCont {
  align-items: center;
}
#minServices .serviceCont .serviceText {
  margin-left: 10px;
  align-items: center;
  height: 550px;
  width: 95%;
  background-color: #2e6340;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 0px 40px;
}
#minServices .serviceCont .serviceText .icons {
  margin-top: -60px;
  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: 40px;
}
#minServices .serviceCont .serviceText .icons h5 {
  font-family: var(--secondaryfont);
  font-size: 20px;
  color: #00ff99;
  font-weight: 600;
  margin-top: 0px;
  display: inline-block;
  text-align: left;
  display: block !important;
}
#minServices .serviceCont .serviceText .icons a {
  margin-left: 18px;
}
#minServices .serviceCont .serviceText .icons a i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 9px;
  text-align: center;
  color: hsl(186, 100%, 69%);
  background-color: rgb(10, 10, 10);
  font-size: 20px;
  border: 2px solid hsl(186, 100%, 69%);
}
#minServices .serviceCont .serviceText .icons a i:hover {
  background-color: hsl(186, 100%, 69%);
  color: black;
}
#minServices .serviceCont .serviceText h2 {
  font-family: var(--primarifont);
  font-size: 60px;
  color: #00ff99;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 40px;
}
#minServices .serviceCont .serviceText h4 {
  font-family: var(--secondaryfont);
  font-size: 40px;
  color: #fffbfb;
  font-weight: 800;
  margin-bottom: 30px;
}
#minServices .serviceCont .serviceText p {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  text-align: justify;
  color: #ffffff;
}
#minServices .serviceCont .serviceText:hover {
  color: #00ff99;
}
#minServices .serviceCont .serviceText .line3 {
  width: 80%;
  height: 3px;
  background-color: #BBB9B9;
  margin: 20px 0px;
  border-radius: 10px;
}

#protfolio {
  margin-top: 60px;
}
#protfolio .protfolioCont .projects {
  display: flex;
}
#protfolio .protfolioCont .projects .protfolioText h2 {
  font-family: var(--primarifont);
  font-size: 60px;
  color: #04FE98;
  font-weight: 800;
}
#protfolio .protfolioCont .projects .protfolioText h4 {
  font-family: var(--secondaryfont);
  font-size: 20px;
  color: #00ff99;
  font-weight: 500;
}
#protfolio .protfolioCont .projects .protfolioText p {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 200%;
  text-align: justify;
  color: #ffffff;
}
#protfolio .protfolioCont .projects .protfolioText h5 {
  font-family: var(--secondaryfont);
  font-size: 20px;
  color: #00ff99;
  font-weight: 600;
  margin-top: 30px;
}
#protfolio .protfolioCont .projects .protfolioText .line3 {
  width: 80%;
  height: 3px;
  background-color: #BBB9B9;
  margin: 30px 0px;
  border-radius: 10px;
}
#protfolio .protfolioCont .projects .protfolioText .icons {
  display: flex;
  justify-content: start;
  margin-bottom: 60px;
}
#protfolio .protfolioCont .projects .protfolioText .icons a {
  margin: 0px 4px;
}
#protfolio .protfolioCont .projects .protfolioText .icons a i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 9px;
  text-align: center;
  color: hsl(186, 100%, 69%);
  background-color: rgb(10, 10, 10);
  font-size: 20px;
  border: 2px solid hsl(186, 100%, 69%);
}
#protfolio .protfolioCont .projects .protfolioText .icons a i:hover {
  background-color: hsl(186, 100%, 69%);
  color: black;
}
#protfolio .protfolioCont .projects .protfolioImage .image {
  height: 360px;
}
#protfolio .protfolioCont .projects .protfolioImage .image img {
  width: 90%;
  margin-left: 30px;
}
#protfolio .protfolioCont .projects .protfolioImage .icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
#protfolio .protfolioCont .projects .protfolioImage .icons button {
  margin: 0px 4px;
  border-radius: 50%;
}
#protfolio .protfolioCont .projects .protfolioImage .icons button i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 9px;
  text-align: center;
  color: yellow;
  background-color: rgb(10, 10, 10);
  font-size: 20px;
  border: 2px solid yellow;
}
#protfolio .protfolioCont .projects .protfolioImage .icons button i:hover {
  background-color: yellow;
  color: black;
}

#minProtfolio {
  margin-top: 60px;
}
#minProtfolio .protfolioCont .protfolioImage .image {
  height: 260px;
}
#minProtfolio .protfolioCont .protfolioImage .image img {
  width: 90%;
  margin-left: 20px;
}
#minProtfolio .protfolioCont .protfolioImage .icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#minProtfolio .protfolioCont .protfolioImage .icons a {
  margin: 0px 4px;
}
#minProtfolio .protfolioCont .protfolioImage .icons a i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 9px;
  text-align: center;
  color: yellow;
  background-color: rgb(10, 10, 10);
  font-size: 20px;
  border: 2px solid yellow;
}
#minProtfolio .protfolioCont .protfolioImage .icons a i:hover {
  background-color: yellow;
  color: black;
}
#minProtfolio .protfolioCont .protfolioText {
  text-align: center;
}
#minProtfolio .protfolioCont .protfolioText h2 {
  font-family: var(--primarifont);
  font-size: 60px;
  color: #04FE98;
  font-weight: 800;
}
#minProtfolio .protfolioCont .protfolioText h4 {
  font-family: var(--secondaryfont);
  font-size: 20px;
  color: #00ff99;
  font-weight: 500;
}
#minProtfolio .protfolioCont .protfolioText p {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 200%;
  text-align: justify;
  color: #ffffff;
}
#minProtfolio .protfolioCont .protfolioText h5 {
  font-family: var(--secondaryfont);
  font-size: 20px;
  color: #00ff99;
  font-weight: 600;
  margin-top: 30px;
}
#minProtfolio .protfolioCont .protfolioText .icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
}
#minProtfolio .protfolioCont .protfolioText .icons a {
  margin: 0px 4px;
}
#minProtfolio .protfolioCont .protfolioText .icons a i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 9px;
  text-align: center;
  color: hsl(186, 100%, 69%);
  background-color: rgb(10, 10, 10);
  font-size: 20px;
  border: 2px solid hsl(186, 100%, 69%);
}
#minProtfolio .protfolioCont .protfolioText .icons a i:hover {
  background-color: hsl(186, 100%, 69%);
  color: black;
}

#contact {
  margin-top: 60px;
}
#contact .contactMessage {
  background-color: #383131;
  padding: 60px 0px 10px 0px;
  border-radius: 20px;
}
#contact .contactMessage h2 {
  font-family: var(--primarifont);
  font-size: 30px;
  color: #04FE98;
  font-weight: 800;
  margin-bottom: 20px;
}
#contact .contactMessage p {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  text-align: justify;
  color: #ffffff;
}
#contact .contactMessage .information-cnt form {
  background-color: #383131;
}
#contact .contactMessage .information-cnt form input {
  width: 100%;
  height: 35px;
  color: #FBFBFB;
  background-color: black;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #00ff99;
  padding-left: 15px;
}
#contact .contactMessage span form input {
  width: 100%;
  height: 200px;
  border-bottom: 2px solid white;
  border-radius: 15px;
  padding-left: 10px;
  background-color: #423c3c;
  color: #eae8e8;
}
#contact .contactInfo {
  margin-top: 90px;
}
#contact .contactInfo .mobile {
  text-align: left;
  margin-top: 30px;
  margin-left: 40px;
  display: flex;
  margin-bottom: 30px;
}
#contact .contactInfo .mobile .icon {
  font-size: 24px;
}
#contact .contactInfo .mobile .icon a {
  color: #F16500;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  background-color: #FFEBDC;
  display: inline-block;
  margin: auto;
}
#contact .contactInfo .mobile .text {
  margin-top: -10px;
  margin-left: 20px;
}
#contact .contactInfo .mobile .text a {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 190%;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  display: inline-block;
}
#contact .contactInfo .mobile .text p {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 190%;
  color: #fffdfd;
}

#miniContact {
  margin-top: 60px;
}
#miniContact .contactInfo .mobile {
  text-align: left;
  margin-top: 30px;
  margin-left: 40px;
  display: flex;
  margin-bottom: 30px;
}
#miniContact .contactInfo .mobile .icon {
  font-size: 24px;
}
#miniContact .contactInfo .mobile .icon a {
  color: #F16500;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  background-color: #FFEBDC;
  display: inline-block;
  margin: auto;
}
#miniContact .contactInfo .mobile .text {
  margin-top: -10px;
  margin-left: 20px;
}
#miniContact .contactInfo .mobile .text a {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 190%;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  display: inline-block;
}
#miniContact .contactInfo .mobile .text p {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 190%;
  color: #fffdfd;
}
#miniContact .contactMessage {
  background-color: #383131;
  padding: 60px 0px 10px 0px;
  border-radius: 20px;
  margin-left: 5px;
}
#miniContact .contactMessage h2 {
  font-family: var(--primarifont);
  font-size: 30px;
  color: #04FE98;
  font-weight: 800;
  margin-bottom: 20px;
}
#miniContact .contactMessage p {
  font-family: var(--primarifont);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  text-align: justify;
  color: #ffffff;
}
#miniContact .contactMessage .information-cnt form {
  background-color: #383131;
}
#miniContact .contactMessage .information-cnt form input {
  width: 100%;
  height: 35px;
  color: #FBFBFB;
  background-color: black;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #00ff99;
  padding-left: 15px;
}
#miniContact .contactMessage span form input {
  width: 100%;
  height: 200px;
  border-bottom: 2px solid white;
  border-radius: 15px;
  padding-left: 10px;
  background-color: #423c3c;
  color: #eae8e8;
}/*# sourceMappingURL=style.css.map */